:root {
	--background-color: #1a1a1a;
	--border-color: #2d2d2d;

	--input-background-color: #242424;
	--card-background-color: #1a1a1a;
	--button-background: #242424;
	--button-background-hover: #3a3a3a;


	--text-color: #ffffffde;
	--text-color-light: #868686;
	--text-color-hover: #aaaaaa;

	--primary-color: #5aa7eb;
	--primary-color-hover: #549bd8;

	--mobile-padding: 18px;
	
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #f9f9f9;
		--border-color: #acacac;
		
		
		--input-background-color: #ececec;
		--card-background-color: #f2f2f2;
		--button-background: #ececec;


		--text-color: #213547;
		--text-color-light: #868686;
		--text-color-hover: #aaaaaa;
	
		--button-background-hover: #dfdfdf;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: var(--primary-color);
}

code {
	padding: 3px 5px;
	background-color: var(--input-background-color);
	border-radius: 3px;
	box-sizing: border-box;
	/* width: min(100%, fit-content); */
	overflow-x: auto;
	/* display: inline-block; */
}

blockquote{
	margin-left: 0;
	padding-left: 16px;
	border-left: 1.5px solid var(--primary-color);
}

body {
	color: var(--text-color);
}

ul {
	padding-left: 24px;
}

*::placeholder {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
	font-weight: 500;
	color: var(--primary-color);
	text-decoration: inherit;
}
a:hover {
  color: var(--primary-color-hover);
}