:root {
	--background-color: #1a1a1a;
	--border-color: #2d2d2d;
	--border-radius: 6px;

	--input-background-color: #242424;
	--card-background-color: #1a1a1a;
	--button-background: #242424;
	--button-background-hover: #3a3a3a;


	--text-color: #ffffffef;
	--text-color-light: #868686;
	--text-color-hover: #aaaaaa;

	--primary-color: #5aa7eb;
	--primary-color-opacity: #5aa7eb17;
	--primary-color-hover: #549bd8;

	--mobile-padding: 18px;
	
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #f9f9f9;
		--border-color: #acacac;
		
		
		--input-background-color: #ececec;
		--card-background-color: #f9f9f9;
		--button-background: #ececec;


		--text-color: #213547;
		--text-color-light: #868686;
		--text-color-hover: #aaaaaa;
	
		--button-background-hover: #dfdfdf;
	}
}

.page{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	gap: 18px;
	width: 100%;
	padding-top: 24px;
}


body {
	color: var(--text-color);
}


*::placeholder {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
	font-weight: 500;
	color: var(--primary-color);
	text-decoration: inherit;
}
a:hover {
  color: var(--primary-color-hover);
}

h4, h5, h6 {
	color: var(--text-color);
}

p {
	color: var(--text-color);
}